body {
  font-family: "Monseratt";
}

.title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Monserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}

/* NAVBAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Monseratt"
}

/* DOWNLOAD BTN */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* TITLE IMAGE */
.title-img {
  width: 20%;
  transform: rotate(15deg);
  position: absolute;
  right: 15%;
}

/* FEATURE SECTION */
.features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

h3 {
  font-family: "Monseratt-Bold";
  font-size: 1.2rem;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.icon:hover {
  color: #ff4c68;
}

/* TESTIMONIAL SECTION */
.testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: "Monseratt-Bold";
  font-size: 2rem;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto 30px auto;
}

.testimonial-img {
  border-radius: 40% 40% 100% 100%;
  width: 40%;
  margin: 20px;
}

/* PRESS */
.press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.bg-transparent {
  border: none;
}

/* PRICING SECTION */
.pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.btn-block {
  padding: 2% 30%;
}


/* MEDIA QUERY */
@media (max-width: 1028px) {
.title {
  text-align: center;
}
.title-img {
  position: static;
  transform: rotate(0);
  width: 80%;
}
}
