body {
  font-family: "Monseratt";
}

.title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 5%;
}

h1 {
  font-family: "Monserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

/* NAVBAR */
.navbar {
  padding:0 0 4rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}


/* DOWNLOAD BTN */
.download-btn {
  margin: 3% 5% 3% 0;
}

/* TITLE IMAGE */
.title-img {
  margin-left: 10%;
  width: 50%;
  transform: rotate(15deg);
}

/* FEATURE SECTION */
.features {
  padding: 7% 15%;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
h3 {
  font-family: "Monseratt-Bold";
  font-size: 1.2rem;
}
p {
  color: #8f8f8f;
}
.icon {
  color: #ef8172;
  margin-bottom: 5%;
}
.icon:hover {
  color: #ff4c68;
}
